# RISC0 VM Configuration
# Parameters from https://github.com/risc0/risc0/blob/ebc18c770c4dd5a8e8dfdca1297edb181848405f/risc0/zkp/src/docs/soundness.ipynb
# (dated September 2024)
# Also, see section 3.2 from the RISC0 proof system technical report:
#    https://dev.risczero.com/proof-system-in-detail.pdf
#
# Thanks a lot to Paul Gafni for helping out!

[zkevm]
name = "RISC0"
protocol_family = "FRI_STARK"
field = "BabyBear^4"
hash_size_bits = 256  # TODO: check if that is actually true

[[circuits]]
name = "main"
rho = 0.25
trace_length = 2097152  # 1 << 21
# They use 5 but in the DEEP-ALI error they use (d-1) so we put 4 here.
air_max_degree = 4
# num_control = 16, num_data = 223, num_accum = 40, C = 279
num_columns = 279
# max_combo = 9
opening_points = 9
# L = C + 4 = 283
num_pols = 283
# according to https://dev.risczero.com/proof-system-in-detail.pdf Sections C.6 and 3.4
# Risc0 uses batching with coefficients r^0, r^1, r^2, ...
power_batching = true
# s = 50
num_queries = 50
# FRI parameters: folding factor 16, early stop at 128
# D = trace_length / rho = 8388608
# 8388608 -> 524288 -> 32768 -> 2048 -> 128
fri_folding_factors = [16, 16, 16, 16]
fri_early_stop_degree = 128
grinding_query_phase = 0

# XXX In the future we should support e_PLONK and e_PLOOKUP again
# e_PLONK = 10 * (params.AIR_max_degree - 2) * params.trace_length / (params.F * params.field_extension_degree)
# e_PLOOKUP = 30 * (params.AIR_max_degree - 1) * params.trace_length / (params.F * params.field_extension_degree)
